
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vh;
    background: #000;
}
.contact{
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact h1{
    font-size: 40px;
    color: #fff;
    text-align: center;
    margin-bottom: 12px;
}
.contact form{
    width: 600px;
    text-align: center;
}
form .input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input-box .input-field{
    width: 48.5%;
}
.field .item{
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid #0ef;
    outline: none;
    border-radius: 6px ;
    font-size: 16px;
    color: #ededed;
    margin: 12px 0;
}

.field.error .item{
    border: 2px solid #d93025;
}

.field.error .error-txt{
    /* border: #d93025; */
    display: block;
}

.field .item::placeholder{
    color: rgba(255, 255, 255, .3);
}

.field .error-txt{
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px ;
    display: none;
}

form .textarea-field .item{
    resize: none;
}
form .textarea-field .error-txt{
    margin-top: -10px;
}
form button{
    padding: 12px 32px;
    background: #0ef;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 10px #0ef;
    font-size: 18px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 10px;
}
form button:hover{
    box-shadow: none;
}
